<!DOCTYPE html>
<html>
<head>
  <link href="/static/css/index.css" type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap" rel="stylesheet">
  <title>Projects</title>
  <nav>
    <a class="nav" href='/'>Home</a>
    <a class="nav" href='/projects'>Projects</a>
    <a class="nav" href='/aboutme'>About Me</a>
  </nav>
</head>
<body>
  <div class="aboutMeBody">
    <h1 class="aboutMeHead">A little about me</h1>
      <p class="body1">I am an American student at the University of Southern Indiana where I study Computer Science.
       I am currently studying and writing code in computer programming languages such as HTML, CSS, JavaScript, and Python.
      Computer Science is a science that I know that I am both able to do and also enjoy. I would like to eventually use my education, knowledge, and skills working for the United States of America.
    </p>
  </div>
</body>
</html>
