<!DOCTYPE html>
<html>
<head>
  <link href="/static/css/index.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
  <title>Dylan Tussey</title>
  <nav>
    <a class="nav" href='/'>Home</a>
    <a class="nav" href='/projects'>Projects</a>
    <a class="nav" href='/aboutme'>About Me</a>
  </nav>
</head>
<body>
  <img src="/static/images/Welcome.jpg">
  <div class="main">
  <p> I am a Computer Science student at the University of Southern Indiana.</p>
  <p>This website is a work in progress as my own personal website.</p>
  <p>On this website I feature</p>
    <ul class="features">
      <li>My Coding</li>
      <li>My Personal Interests</li>
      <li>Information About Myself</li>
      <li>Plans for the Future</li>
    </ul>
  </div>
</body>
<footer class="hadith1">
  <p>We do what we must, because we can.</p>
</footer>
</html>
