<!DOCTYPE html>
<html>
<head>
  <link href="/static/css/index.css" rel="stylesheet" type="text/css">
  <title>Dylan Tussey</title>
  <nav>
    <a class="nav" href='/'>Home</a>
    <a class="nav" href='/projects'>Projects</a>
    <a class="nav" href='/aboutme'>About Me</a>
  </nav>
</head>
<body>
  <img src="/static/images/shahada.jpg">
  <div class="main">
  <p> I am learning to code in HTML, CSS, JavaScript, Python.</p>
  <p>This website is part of an assigned project by the CodeCademy Web Development course.</p>
  <p>On this website I will feature</p>
    <ul class="features">
      <li>My Coding</li>
      <li>My Personal Interests</li>
      <li>Information About Myself</li>
      <li>Plans for the Future</li>
    </ul>
  </div>
</body>
<footer class="hadith1">
  <p>Whoever travels a path in search of knowledge, Allah makes easy for him a path to Paradise.</p>
  <p>Source: Sahih Muslim 2699, Grade: Sahih</p>
</footer>
</html>
