<!DOCTYPE html>
<html>
<head>
  <link href="/static/css/index.css" type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap" rel="stylesheet">
  <title>Projects</title>
  <nav>
    <a class="nav" href='/'>Home</a>
    <a class="nav" href='/projects'>Projects</a>
    <a class="nav" href='/aboutme'>About Me</a>
  </nav>
</head>
<body>
  <main class="myProjects">
    <p>My current projects include:</p>
    <ul>
      <li><a class="arabicroots" href="https://github.com/DJT777/ArabicRoots">Arabic Roots</a>: A program designed to assist me in studying Arabic.</li>
      <li>My Guitar Tuner: A project where I am designing my own guitar tuner for Android.</li>
      <li>This website!</li>
    </ul>
  </main>
</body>
</html>
