<!DOCTYPE html>
<html>
<head>
  <link href="/static/css/index.css" type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap" rel="stylesheet">
  <title>Projects</title>
  <nav>
    <a class="nav" href='/'>Home</a>
    <a class="nav" href='/projects'>Projects</a>
    <a class="nav" href='/aboutme'>About Me</a>
  </nav>
</head>
<body>
  <main class="myProjects">
    <p>My projects include:</p>
    <ul>
      <li><a class="gitlink" href="https://github.com/DJT777/ArabicRoots">Arabic Roots</a>: A program designed to assist me in studying Arabic.</li>
      <li><a class="gitlink" href="https://github.com/DJT777/Tuner">My Guitar Tuner</a>: A project where I have programmed my own guitar tuner for Android.</li>
      <li><a class="gitlink" href="https://github.com/DJT777/aVision">aVision (Python) </a> - A Bird Species Detection and Classification System - Written in Python</li>
      <li><a class="gitlink" href="https://github.com/DJT777/C-aVision">aVision (C++) </a>< - A Bird Species Detection and Classification System - Written in C++</li>
      <li><a class="gitlink" href="https://github.com/DJT777">Linguis Aquilis </a>< - An AI Powered Course Recommendation System for the University of Southern Indiana/li>
      <li><a class="gitlink" href="https://github.com/DJT777/PersonalWebsite">This website!</a></li>
      <br></br>
      <br></br>
      <br></br>
      TO-DO: Bird Species Classification System Using Spectrograms of Morning Chorus
    </ul>
  </main>
</body>
</html>
